@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    font-size: 20px;
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 15px 35px;

    .header__nav {
        font-weight: 800;

        display: flex;
        gap: 30px;
    }

    .header__logo-title {
        font-weight: 800;
        font-size: 32px;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    img {
        height: 100%;
    }
}

.main {
    flex: 1;
    display: flex;
    height: 784px;
}

.left {
    position: relative;
    flex: 0 0 50%;
    
    .left__background {
        height: 100%;
        width: 75%;
        background: rgba(230, 218, 206, 1);
    }
}

.card {
    top: 50%;
    right: 100px;
    
    box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
        
    .card__content {
        background: rgba(244, 236, 230, 1);
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        height: 100%;
        font-size: 18px;
        
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
        }

        > div {
            margin-top: 10px;
        }
    }
    
    .card__footer {
        background: #fff;
        padding: 17px;
        text-align: center;
        box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
        font-size: 14px;
    }

    h1 {
        text-align: center;
        font-style: italic;
        font-size: 20px;
        font-weight: 800;
    }
}

.right {
    margin-right: 70px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
        font-size: 24px;
        margin: 0;
    }
}

hr {
    border: 2px solid black;
    width: 90px;
    margin: 0;
}

.footer {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: 400;
}

@media (max-width: 1050px) {
    .main {
        flex-direction: column;

    }

    .left {
        flex: 1 1 auto;
    }
    .right {
        float: 1 1 auto;
    }

    .card__content {
        padding: 30px;
    }
}

@media (min-width: 1050px) {
    .card {
        position: absolute;
        height: 525px;
        width: 350px;

        transform: translateY(-50%);
    }
}